* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

section p {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  font-family: "Titillium Web" !important;
  font-weight: 700;
  color: #ffffff;
}

a,
span {
  text-decoration: none;
  color: inherit;
  font-family: 'Titillium Web';
  font-weight: 700;
}

body .btn_red {
  white-space: nowrap;
  vertical-align: middle;
  font-family: 'Titillium Web';
  font-weight: 700;
  background-color: #df3e46;
  border: none;
  font-size: 30px;
  padding: 15px 0 20px;
  cursor: pointer;
  width: 40%;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
}

body .btn_red:hover {
  text-decoration: none;
  background-color: #b8333a;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body a.btn_reservation {
  background: #df3e46;
  padding: 10px;
  -webkit-transition: 0.5s false false;
  -moz-transition: 0.5s false false false;
  -o-transition: 0.5s false false false;
  transition: 0.5s;
}

body a.btn_reservation:hover {
  text-decoration: none;
  color: inherit;
  background-color: #b8333a;
}

.site-pusher,
.site-container {
  height: 100%;
}
.delete-reservation {
  background-color: none;
}

.container {
  overflow: hidden;
  *zoom: 1;
}

.site-content {
  padding-top: 100px;
}

/*------------------------------------*    $HEADER
\*------------------------------------*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 140px;
  line-height: 100px;
  color: #FFF;
  background-color: #000000;
  z-index: 4;
}


.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

.header__logo img {
  width: 5em;
}

/*------------------------------------*    $MENU
\*------------------------------------*/
.menu {
  float: right;
}

.menu a {
  padding: 0 10px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
}

.menu a:hover {
  color: #df3e46;
  text-decoration: none;
}

.menu a.menu-link:nth-child(n+5) {
  color: #df3e46;
}

.menu a.menu-link.btn_reservation {
  color: #ffffff;
}

section {
  padding: 40px;
}

/*------------------------------------*    $HOME SECTION 1
\*------------------------------------*/

.section2 h2 {
  font-size: 3rem;
  color: #df3e46;
  text-align: center;
}

.section2 .valeurs h3 {
  font-size: 1.7rem;
  color: #000;
}

.section2 .valeurs img {
  max-width: 100%;
  height: auto;
}

.section1 {
  position: relative;
  margin: 0;
  color: #ffffff;
  padding: 80px 0;
  overflow: hidden;
}

.section1 img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.3;
}

.section1 .s1_presentation_cyclo {
  text-align: center;
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  z-index: 3;
  position: relative;
}

.section1 .s1_presentation_cyclo h2 {
  font-size: 1.5rem;
  color: #df3e46;
}

.section1 .s1_presentation_cyclo h3 {
  font-size: 1.2rem;
  color: #df3e46;
}

.section1 .s1_presentation_cyclo a {
  display: inline-block;
  color: #df3e46;
}

.section1 .s1-info-resa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 3;
  position: relative;
}

.section1 .s1-info-resa .s1_tarif {
  position: relative;
  background-color: rgba(0,0,0, 0.6);
  padding: 20px;
  margin: 0 80px;
  height: 190px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.section1 .s1-info-resa .s1_tarif .tarif_unique {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgba(0,0,0, 0.7);
  padding: 40px;
  width: 190px;
  height: 190px;
  line-height: 5em;
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  -ms-border-radius: 95px;
  -o-border-radius: 95px;
  border-radius: 95px;
}

.section1 .s1-info-resa .s1_tarif .tarif_unique p {
  font-size: 20px;
  line-height: 1.8em;
  margin-bottom: 0;
}

.section1 .s1-info-resa .s1_tarif .tarif_unique span {
  font-size: 3.5em;
  margin-left: -10px;

}

.section1 .s1-info-resa .s1_tarif .nav {
  font-weight: bold;
  position: relative;
  left: 55%;
}

.section1 .btn_red {
  margin: 40px 0;
}

.section1 .s1_tel {
  color: #ffffff;
  font-size: 30px;
  width: max-content;
  margin: 0 auto;
  text-align: center;
}

/*------------------------------------*    $HOME SECTION 2
\*------------------------------------*/
.section2 {
  background-color: #ebebeb;
  margin: 0;
  padding: 20px 0 0;
}

.section2 .card {
  background-color: #df3e46;
  position: relative;
  margin: 40px 0 20px;
  text-align: center;
  min-height: 210px;
}

.section2 .card a {
  color: #ffffff;
  padding-bottom: 30px;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
}

.section2 .card a img {
  padding: 10px;
  margin: 0 auto;
  position: relative;
  top: -40px;
  background: #000000;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
}

.section2 .card a .card-body {
  margin-bottom: 50px;
  padding: 0;
}

.section2 .card a:hover {
  background-color: #000000;
  text-decoration: none;
}

.section2 .card a:hover img {
  background: #df3e46;
}

.section2 .card a:hover p {
  color: #ffffff;
}

.section3 {
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
}

.section3 h3 {
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  text-align: center;
  padding: 0 0 10px 0;
}

.section3 a:hover {
  text-decoration: none;
}

.section3 .vert {
  background-color: #000000;
  color: #ffffff;
  padding: 40px;
  margin: 40px 0px;
  min-height: 320px;
  max-height: 320px;
}

.section3 .vert .block_avis {
  border-top: 1px solid #ebebeb;
  padding-top: 20px;
}

.section3 .vert .block_avis i.fas {
  color: #df3e46;
}

.section3 .vert .carousel-control-prev,
.section3 .vert .carousel-control-next {
  right: 20px;
  bottom: inherit;
  left: inherit;
  background-color: #df3e46;
  opacity: 1;
  width: 50px;
  height: 40px;
  -webkit-box-shadow: #000000 3px 2px 3px;
  -moz-box-shadow: #000000 3px 2px 3px;
  box-shadow: #000000 3px 2px 3px;
  -webkit-transition: 0.5s false false;
  -moz-transition: 0.5s false false false;
  -o-transition: 0.5s false false false;
  transition: 0.5s;
}

.section3 .vert .carousel-control-prev span,
.section3 .vert .carousel-control-next span {
  display: none;
}

.section3 .vert .carousel-control-next {
  top: 0;
}

.section3 .vert .carousel-control-next:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  content: ">";
  left: 50%;
  margin-left: 10px;
  font-size: 30px;
}

.section3 .vert .carousel-control-next:hover {
  background-color: #b8333a;
}

.section3 .vert .carousel-control-prev {
  top: -40px;
}

.section3 .vert .carousel-control-prev:before {
  content: "<";
  font-size: 30px;
  left: 50%;
  margin-left: 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.section3 .vert .carousel-control-prev:hover {
  background-color: #b8333a;
}

.section3 .vert .carousel-indicators {
  display: none;
}

.section3 .vert .carousel-item-next.carousel-item-left,
.section3 .vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.section3 .vert .carousel-item-next,
.section3 .vert .active.carousel-item-right {
  bottom: inherit;
  top: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.section3 .vert .carousel-item-prev,
.section3 .vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.section3 .s3-actus {
  height: auto;
  margin-top: 40px;
  padding: 30px 30px 0;
  background-color: #ffffff;
  min-height: 320px;
}

.section3 .s3-actus h3 {
  background: none;
  color: #000000;
}

.section3 .s3-actus .s3-one-actu {
  margin-bottom: 0;
}

.section3 .s3-actus .s3-one-actu .resume-title-article {
  color: #000000;
  font-size: 21px;
}

.section3 .s3-actus .s3-one-actu .s3-actu-resume {
  color: #000000;
}

.section3 .s3-actus .s3-one-actu img {
  /* float: left;
        -webkit-box-shadow: #df3e46 -9px 9px 0;
        -moz-box-shadow: #df3e46 -9px 9px 0;
        box-shadow: #df3e46 -9px 9px 0; */
  width: 100%;
}

.section3 .s3-actus .s3-one-actu .s3-actu-date {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: bold;
  display: block;
  font-size: 13px;
}

.section3 .s3-actus .s3-one-actu .s3-actu-flag a {
  color: #df3e46;
}

.section3 .s3-actus .s3-one-actu .s3-actu-flag a:hover {
  background-color: transparent;
}

.section3 .s3-actus .btn_actu {
  font-size: 1.5em;
  padding: 5px 20px 10px 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
  margin: 0;
}

.section3 .s3-actus .btn_actu:hover {
  color: #ffffff;
}

.footer {
  background: #000;
  background-size: cover;
}

.footer.container-fluid {
  padding: 0;
}

.footer .f-partners {
  padding: 15px 0 0;
}

.footer .f-partners p {
  font-family: "Titillium Web" !important;
  color: #ffffff;
  font-size: 1.5rem;
}

.footer .f-partners .item {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.footer .f-partners .item a:hover {
  background-color: transparent !important;
}

.footer .f-partners .owl-carousel {
  width: 80%;
  margin: 15px auto;
}

.footer .f-partners .owl-carousel .owl-stage {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.footer .f-partners .owl-carousel .owl-next:after,
.footer .f-partners .owl-carousel .owl-prev:after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 25%;
  font-size: 50px;
  font-weight: 900;
}

.footer .f-partners .owl-carousel .owl-next:after:hover,
.footer .f-partners .owl-carousel .owl-prev:after:hover {
  background: transparent;
  cursor: pointer;
}

.footer .f-partners .owl-carousel .owl-next:hover,
.footer .f-partners .owl-carousel .owl-prev:hover {
  background: transparent;
}

.footer .f-partners .owl-carousel .owl-next span,
.footer .f-partners .owl-carousel .owl-prev span {
  display: none;
}

.footer .f-partners .owl-carousel .owl-next {
  background: none;
}

.footer .f-partners .owl-carousel .owl-next span {
  display: none;
}

.footer .f-partners .owl-carousel .owl-next:after {
  content: "\f105";
  right: -50px;
}

.footer .f-partners .owl-carousel .owl-prev {
  background: none;
}

.footer .f-partners .owl-carousel .owl-prev:after {
  content: "\f104";
  left: -50px;
}

.footer .f-infos {
  background: #df3e46;
  border-top: 20px solid #b8333a;
  border-bottom: 20px solid #b8333a;
  padding: 40px 0 0;
  text-align: center;
  margin: 0;
}

.footer .f-infos p {
  font-family: "Titillium Web" !important;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.footer .f-infos .btn_reservation {
  background: #b8333a;
  color: #ffffff;
  padding: 20px 25px;
  text-transform: uppercase;
  font-style: 20px;
}

.footer .f-infos .btn_reservation:hover {
  background: #666465;
}

.footer .f-infos .f-btn_social {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .f-infos .f-btn_social.container-fluid {
  margin: 0;
  padding: 0;
}

.footer .f-infos .f-btn_social a {
  color: #ffffff;
  font-size: 50px;
}

.footer .f-infos .f-btn_social a i {
  margin-bottom: 20px;
}

.footer .f-infos .f-btn_social a i.fa-instagram,
.footer .f-infos .f-btn_social a i.fa-twitter-square {
  float: right;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
}

.footer .f-infos .f-btn_social a i.fa-google-plus-square,
.footer .f-infos .f-btn_social a i.fa-facebook-square {
  float: left;
  -webkit-transition: 0.3s false false;
  -moz-transition: 0.3s false false false;
  -o-transition: 0.3s false false false;
  transition: 0.3s;
}

.footer .f-infos .f-btn_social a i.fa-instagram:hover,
.footer .f-infos .f-btn_social a i.fa-twitter-square:hover,
.footer .f-infos .f-btn_social a i.fa-google-plus-square:hover,
.footer .f-infos .f-btn_social a i.fa-facebook-square:hover {
  color: #b8333a;
}

.footer .f-social {
  margin: 0;
  padding: 40px;
}

.footer .f-mentions-menu {
  font-size: 14px;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
}

.footer .f-mentions-menu p {
  font-family: 'Titillium Web';
  font-weight: 400;
}

.footer .f-mentions-menu ul {
  display: inline-block;
}

.footer .f-mentions-menu ul a {
  color: #ffffff !important;
  display: block;
  width: auto;
}

.footer .f-mentions-menu .legal {
  font-size: 12px;
}

.footer .f-mentions-menu .legal img {
  padding-right: 10px;
}

.footer .f-mentions-menu .payment {
  text-align: center;
}

.footer .f-mentions-menu .f-menu {
  font-size: 20px;
  text-transform: uppercase;
}

.footer .f-mentions-menu .f-menu a:nth-child(7) {
  color: #df3e46 !important;
}

.footer .f-mentions-menu .f-menu a {
  color: #ffffff;
}

/*------------------------------------*    $PRESTATION
\*------------------------------------*/
.presentation {
  background-color: #ebebeb;
}

.presentation .entete-pages {
  background-size: cover;
  padding: 150px 0;
}

.presentation .s-presentation {
  margin-bottom: 0;
}

.presentation .s-presentation h2,
.presentation .s-presentation h3 {
  color: #000000;
}

.presentation .s-presentation h2 {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.presentation .s-presentation .blocks_presa .img_presa {
  position: relative;
  min-height: 160px;
  margin-top: 20px;
}

.presentation .s-presentation .blocks_presa .img_presa img {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

.presentation .s-presentation .block_contact_presa {
  height: 4em;
  margin-top: 40px;
}

.presentation .s-presentation .block_contact_presa h4 {
  display: inline-block;
  padding-right: 120px;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.presentation .s-presentation .block_contact_presa .btn_red {
  padding: 10px 40px;
  margin-bottom: 20px;
  font-size: 24px;
  position: relative;
  top: -10px;
}

/*------------------------------------*    $FAQ
\*------------------------------------*/
.faq {
  background-color: #ebebeb;
}

.faq .s-faq {
  padding: 0 0 40px;
}

.faq .entete-pages {
  background: url("../img/slide1_old.jpg") no-repeat left;
  background-size: cover;
}

.faq h2 {
  color: #000000;
  margin-bottom: 40px;
  border-bottom: 2px solid;
  padding-bottom: 20px;
}

.faq h3 {
  color: #ffffff;
  font-size: 1.5em;
}

.faq .block_faq {
  margin: 20px 0;
}

.faq .block_faq a {
  color: #ffffff;
}

.faq .block_faq a:hover {
  text-decoration: none;
}

.faq .block_faq a.Arrow_down:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
  bottom: -20px;
  padding: 20px;
  background-color: #df3e46;
  z-index: 1;
}

.faq .block_faq .bg_collapse {
  padding: 20px;
  background-color: #000000;
  display: block;
  position: relative;
}

.faq .block_faq .bg_collapse.Arrow_up {
  -webkit-transition: 0.2 false false;
  -moz-transition: 0.2 false false false;
  -o-transition: 0.2 false false false;
  transition: 0.2;
}

.faq .block_faq .bg_collapse.Arrow_up:after {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 20px;
  bottom: -20px;
  padding: 20px;
  background-color: #df3e46;
  z-index: 1;
}

.faq .block_faq .pourquoi {
  background: #ffffff;
  padding: 40px;
}

/*------------------------------------*    $BLOG
\*------------------------------------*/
.img_article,
.img_press {
  width: 100%;
}

.img_article img,
.img_press img {
  width: 100%;
  -webkit-box-shadow: #df3e46 -9px 9px 0;
  -moz-box-shadow: #df3e46 -9px 9px 0;
  box-shadow: #df3e46 -9px 9px 0;
}

.date,
.flag {
  font-size: 16px;
  font-style: italic;
}

.flag a {
  color: #df3e46 !important;
}

.flag a:hover {
  color: #df3e46 !important;
  background-color: transparent;
}

.entete-pages {
  background-size: cover;
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.entete-pages h1 {
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.entete-pages img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tags {
  padding: 20px 30px;
}

.tags .title_badge {
  font-size: 16px;
  margin: 0 3px;
  padding: 10px;
  color: #ffffff;
  background-color: #000000 !important;
}

.tags .all_badge {
  background-color: #df3e46;
}

.tags .badge {
  color: #000000;
  background-color: #D5D5D5;
  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid #df3e46;
  border-radius: 0;
  font-size: 20px;
  margin: 0 3px;
}

.blog {
  background-color: #ebebeb;
  color: #000000;
}

.read_more {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #df3e46;
}

.blog p.titre-archive {
  background-color: #df3e46 !important;
  font-family: "Titillium Web" !important;
  font-size: 24px !important;
  padding: 5px 30px !important;
  color: #ffffff !important;
}


.blog .s-last_articles {
  padding: 0;
}

.blog .s-last_articles .resume_article h2 {
  color: #000000;

  word-break: break-word;
}

.blog .s-last_articles .resume_article .one_resume_article {
  padding: 20px 40px;
}

.blog .s-last_articles .resume_article .one_resume_article a {
  color: inherit;
}

.blog .s-last_articles .resume_article .one_resume_article a:hover {
  text-decoration: none;
}

.blog .s-last_articles .resume_article .one_resume_article h2 {
  color: #df3e46;
}

.blog .s-last_articles .resume_article .one_resume_article h2 a {
  background-color: transparent;
}

.blog .s-last_articles .resume_article img {
  width: 100%;
  -webkit-box-shadow: #df3e46 -9px 9px 0;
  -moz-box-shadow: #df3e46 -9px 9px 0;
  box-shadow: #df3e46 -9px 9px 0;
}

.blog .s-last_articles .resume_article .resume {
  padding: 0 0 20px 10px;
}

.blog .s-articles_show {
  padding: 20px 0;
  color: #000000;
}

.blog .s-articles_show .one_actu {
  padding-top: 20px;
}

.blog .s-articles_show a {
  color: #df3e46;
}

.blog .s-articles_show a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #df3e46;
}

.blog .s-articles_show h2 {
  font-size: 1.5rem !important;
}

.blog .s-articles_show h3 {
  padding: 0 10px;
}

.blog .s-articles_show .h3_actu {
  color: #df3e46;
  border-bottom: 2px solid #df3e46;
}

.blog .s-articles_show h3,
.blog .s-articles_show h2 {
  color: #000000;
  background-color: none;
}

.blog .s-articles_show .img_article img {
  margin: 0 0 20px;
}

.blog .s-articles_show .read_more {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #df3e46;
}

.blog .s-articles_show .h3_press {
  padding: 0 10px;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.blog .s-articles_show .one_press {
  padding-top: 20px;
  position: relative;
  margin-bottom: 20px;
}

.blog .s-articles_show .one_press .img_press {
  height: 200px;
  overflow: hidden;
}

.blog .s-articles_show .one_press .block_text_press {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 10px 10px 0px;
}

.blog .s-articles_show .one_press .block_text_press h2 {
  color: #ffffff;
  f
}

.blog .s-articles_show .pagination_blog {
  margin: 40px;
}

.blog .s-articles_show .pagination_blog a.page-link {
  margin: 0 3px;
  background-color: #D5D5D5;
}

.blog .s-articles_show .pagination_blog a.page-link.active {
  background-color: #df3e46;
  color: #ffffff;
}

/*------------------------------------*    $ARTICLE
\*------------------------------------*/
.article h2 {
  padding: 5px 0;
  color: #df3e46;
  border-bottom: 2px solid #df3e46;
  font-family: "Titillium Web" !important;
  margin-bottom: 40px;
}

.article h3 {
  padding: 5px 0;
  color: #df3e46;
  border-bottom: 2px solid #df3e46;
  font-family: "Titillium Web" !important;
  margin-bottom: 40px;
}

.article h4 {
  margin: 20px 0;
}

.article article {
  margin: 0 0 40px;
}

.article article img {
  margin: 0 20px 10px 0;
}

.article article cite {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 40px;
  padding: 18px;
  border-left: 2px solid #df3e46;
}

.article .sidebar_article h4 {
  background-color: #df3e46;
  padding: 5px 10px;
  color: #ffffff;
  font-family: "Titillium Web";
}

.article .sidebar_article h5 {
  font-family: "Titillium Web";
}

.article .sidebar_article .article_new_article .col-6 {
  padding-top: 20px;
}

.article .sidebar_article .article_tags h4 {
  background-color: #000000;
}

.article .sidebar_article .article_tags .tags {
  text-align: center;
}

.article .sidebar_article .article_tags .tags .badge {
  margin-bottom: 20px;
}

.article .sidebar_article .article_press h4 {
  background-color: #000000;
}

.article .sidebar_article .article_press .col-12 {
  padding-top: 20px;
}

.article .sidebar_article .article_press .block_press {
  position: relative;
}

.article .sidebar_article .article_press .block_press img {
  width: 100%;
}

.article .sidebar_article .article_press .one_press {
  padding-top: 20px;
  position: relative;
  margin-bottom: 20px;
}

.article .sidebar_article .article_press .one_press .img_press {
  height: 200px;
  overflow: hidden;
}

.article .sidebar_article .article_press .one_press .block_text_press {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 10px 10px 0px;
}

.article .sidebar_article .article_press .one_press .block_text_press h4 {
  color: #ffffff;
}

.article .sidebar_article .article_press .one_press .flag {
  font-weight: bold;
}

.wpforms-selected {
  height: 42px !important;
}

/*------------------------------------*    $RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 990px) {

  .site-pusher,
  .site-container {
    height: 100%;
  }

  .site-container {
    overflow: hidden;
  }

  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    position: static;
  }

  .header__icon {
    float: right;
    width: 60px;
    height: 45px;
    position: relative;
    z-index: 2;
    top: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out false;
    -moz-transition: 0.5s ease-in-out false false;
    -o-transition: 0.5s ease-in-out false false;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .header__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #ffffff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out false;
    -moz-transition: 0.25s ease-in-out false false;
    -o-transition: 0.25s ease-in-out false false;
    transition: 0.25s ease-in-out;
  }

  .header__icon span:nth-child(even) {
    border-radius: 0 9px 9px 0;
  }

  .header__icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  .header__icon span:nth-child(1),
  .header__icon span:nth-child(2) {
    top: 10px;
  }

  .header__icon span:nth-child(3),
  .header__icon span:nth-child(4) {
    top: 20px;
  }

  .header__icon span:nth-child(5),
  .header__icon span:nth-child(6) {
    top: 30px;
  }

  .header__icon.open span:nth-child(1),
  .header__icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__icon.open span:nth-child(2),
  .header__icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .header__icon.open span:nth-child(1) {
    left: 5px;
    top: 9px;
  }

  .header__icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 9px;
  }

  .header__icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  .header__icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  .header__icon.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  .header__icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #000000;
    width: 300px;
    transform: translateX(300px);
  }

  .menu a {
    position: relative;
    display: block;
    height: 75px;
    text-align: left;
    line-height: 40px;
    padding-top: 15px;
  }

  .menu a.menu-link:after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 40px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: 0.3s false false;
    -moz-transition: 0.3s false false false;
    -o-transition: 0.3s false false false;
    transition: 0.3s;
  }

  .menu a.menu-link:nth-child(n+4) {
    color: #df3e46;
  }

  .menu a.menu-link.btn_reservation {
    display: none;
  }

  .menu a:focus:after {
    width: 100%;
  }

  .menu-btn_social {
    text-align: center;
  }

  .menu-btn_social a {
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
  }

  .menu-intervention {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #df3e46;
    height: 160px;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
  }

  .with--sidebar .site-pusher {
    transform: translateX(-280px);
  }

  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .section1 .s1-info-resa .s1_tarif {
    margin: 0 !important;
    position: inherit;
  }

  .section1 .btn_red {
    width: 65%;
  }

  .section3 .vert {
    margin-top: 40px;
  }

  .section3 .s3-actus {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .presentation .s-presentation {
    padding: 20px 0 0;
  }

  .presentation .s-presentation .blocks_presa .img_presa {
    min-height: 100px;
  }

  .presentation .s-presentation .block_contact_presa {
    text-align: right;
    margin-bottom: 70px;
  }

  .presentation .s-presentation .block_contact_presa h4 {
    padding: 0;
    display: inherit;
  }

  .presentation .s-presentation .block_contact_presa .btn_red {
    top: 20px;
  }

  .presentation .s-presentation .block_contact_presa .btn_red:hover {
    color: #ffffff !important;
  }
}

.site-content .section1 .s1-info-resa .s1_tarif .nav li {
  margin: 5% 0;
}

.page-template [type="radio"]:checked,
.page-template [type="radio"]:not(:checked) {
  position: absolute !important;
  left: -9999px;
}

.page-template [type="radio"]:checked+label,
.page-template [type="radio"]:not(:checked)+label.wpforms-field-label-inline {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  padding-left: 25px;
  font-size: 18px !important;
  margin-right: 25px;
  min-height: 40px;
}

.page-template [type="radio"]:checked+label:before,
.page-template [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: -10px;
  top: -7px;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;

}

.page-template [type="radio"]:checked+label:after,
.page-template [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #df3e46;
  position: absolute;
  top: -2px;
  left: -5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.page-template [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.page-template [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.resa h3 {
  font-size: 22px;
  color: grey;
  font-family: 'Titillium Web' !important;
  font-weight: 400;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
  float: right;
}

.page-template div.wpforms-container-full .wpforms-form .wpforms-field-label {
  margin: 10px 0 30px 0;
}

.s3-actu-resume {
  display: block;
  color: inherit;
}

.linkRed {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.linkRed a {
  color: #df3e46;
}

@media (max-width: 768px) {

  .blog .s-last_articles .resume_article .one_resume_article h2 {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .menu-mobil {
    display: none;
  }
}

@media (max-width: 992px) {
  section p {
    font-size: 2em;
  }

  .section3 .s3-actus .s3-one-actu .resume-title-article {
    color: #000000;
    font-size: 2.2em;
  }

  .section3 .vert {
    min-height: auto;
  }
}

@media (max-width: 1200px) {
  .section1 .s1-info-resa .s1_tarif {
    margin: 30px;
  }

  .resa .entete-pages {
    background: none;
    background-size: cover;
    padding: 20px 0;
    height: auto;
  }

  .resa .entete-pages h1 {
    color: #fff;
  }
}

@media (max-width: 576px) {

  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .entete-pages h1 {
    font-size: 22px;
  }

  .site-content .section1 h1 {
    font-size: 30px;
  }

  .site-content .section1 .s1-info-resa .s1_tarif {
    height: 150px;
  }

  .site-content .section1 .s1-info-resa .s1_tarif .tarif_unique {
    left: 0;
    padding: 25px 0 0;
    line-height: 3em;
    width: 150px;
    height: 150px;
  }

  .site-content .section1 .s1-info-resa .s1_tarif .nav {
    line-height: 1.1em;
  }

  .site-content .section3 .s3-actus .s3-one-actu img {
    width: 100%;
    margin-bottom: 10px;
  }

  .site-content .section3 .s3-actus .s3-one-actu .link_more_actu {
    display: inline-block;
    width: 100%;
  }

  .section3 .vert {
    max-height: 450px
  }

  .section3 .s3-actus .s3-one-actu h4 {
    color: #000000;
    text-align: center;
    font-size: 16px;
  }

  .section3 .s3-actus .s3-one-actu .home_read_more {
    color: #df3e46;
  }

  .site-content .section3 .s3-actus .btn_actu {
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }

  .section3 .s3-actus .s3-one-actu .s3-actu-date {
    position: relative;
    margin-bottom: 20px;
  }

  .site-content .footer .f-partners .owl-carousel .owl-next:after {
    right: -30px;
  }

  .site-content .footer .f-partners .owl-carousel .owl-prev:after {
    left: -30px;
  }

  .footer .f-partners .owl-carousel {
    margin: 0 auto;
  }

  .footer .f-mentions-menu .f-menu {
    display: none;
  }
}

.carousel-inner p {
  font-size: 16px;
  font-style: italic;

}

section.error-404 {
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section.error-404 img {
  width: 100%;
  margin-top: 66px;
}

section.error-404 .page-content {
  position: absolute;
  width: 25%;
  margin-top: 50px;
}

section.error-404 .page-content .btn_red {
  padding: 2px;
  width: 100%;
}

/* FORM RESERVATION DESIGN*/

#wpforms-240-field_11>li.wpforms-image-choices-item.list-inline.wpforms-selected>label {
  -webkit-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

#wpforms-240-field_11>li.wpforms-image-choices-item.list-inline.wpforms-selected>label img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#wpforms-240-field_11>li.wpforms-image-choices-item.list-inline.wpforms-selected>label .wpforms-image-choices-label {
  color: #fff;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form ul.wpforms-image-choices-modern .wpforms-selected label {
  background: #B8333A;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

div.wpforms-container-full .wpforms-form input[type=submit],
div.wpforms-container-full .wpforms-form button[type=submit],
div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background-color: #df3e46;
  border: 1px solid #ddd;
  color: #fff;
  font-size: 1em;
  padding: 10px 15px;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 5px;
  min-width: 90px;
  text-align: center;
  text-transform: uppercase;
}

div.wpforms-container-full .wpforms-form input[type=submit]:hover,
div.wpforms-container-full .wpforms-form input[type=submit]:active,
div.wpforms-container-full .wpforms-form button[type=submit]:hover,
div.wpforms-container-full .wpforms-form button[type=submit]:active,
div.wpforms-container-full .wpforms-form .wpforms-page-button:hover,
div.wpforms-container-full .wpforms-form .wpforms-page-button:active {
  background-color: #B8333A;
  cursor: pointer;
}

div.wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern .wpforms-selected .wpforms-image-choices-image:after {
  opacity: 0;
}

div.wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern img {
  display: inline;
  margin: 0 auto;
  width: 100%;
  max-width: none;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form ul.wpforms-image-choices-modern .wpforms-selected label img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

div.wpforms-container-full #wpforms-form-240.wpforms-form ul.wpforms-image-choices-modern .wpforms-selected label span {
  color: #ffffff;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form .wpforms-list-inline ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form .wpforms-list-inline ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form .wpforms-list-inline ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0 !important;
  padding: 5px !important;
  justify-content: center;
  min-height: 250px;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form .wpforms-list-inline ul.wpforms-image-choices-modern li {
  margin: 0 !important;
}

div.wpforms-container-full #wpforms-form-240.wpforms-form .wpforms-page-indicator.progress {
  display: block;
  text-align: center;
}

.single-post iframe {
  width: 100%;
}

div.wpforms-container-full .wpforms-form input[type='file'] {
  padding-left: 70px !important;
}

#wpforms-240-field_49::before,
#wpforms-240-field_53::before,
#wpforms-240-field_54::before,
#wpforms-240-field_55::before {
  content: 'Choisir une image';
  display: inline-block;
  background: #df3e46;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 15pt;
  color: #ffffff;
  margin-left: -70px;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label-inline {
  min-height: 240px;
}

div.wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label:hover {
  border: 1px solid #ddd;
  background: #df3e46;
  color: #fff;
}

div.wpforms-container-full .wpforms-form ul.wpforms-image-choices-modern label:hover span img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#wpforms-240-field_49:hover::before,
#wpforms-240-field_53:hover::before,
#wpforms-240-field_54:hover::before,
#wpforms-240-field_55:hover::before {
  border-color: black;
}

#wpforms-240-field_49:active::before,
#wpforms-240-field_53:active::before,
#wpforms-240-field_54:active::before,
#wpforms-240-field_55:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#wpforms-240-field_49::-webkit-file-upload-button,
#wpforms-240-field_53::-webkit-file-upload-button,
#wpforms-240-field_54::-webkit-file-upload-button,
#wpforms-240-field_55::-webkit-file-upload-button {
  visibility: hidden;
}

.page-template .wpforms-confirmation-container-full {
  background: transparent;
  border-color: green;
}

.page-template .wpforms-confirmation-container-full a,
.page-template .wpforms-confirmation-container-full strong {
  color: green;
}

.page-template .wpforms-confirmation-container-full a {
  text-decoration: underline;
}

.page-template #wpforms-240-field_47-state {
  display: none !important;
}

.btn_resa .btn {
  padding: 5px;
  font-size: 18px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;
}

#cookie-notice .cn-button {
  color: #fff;
  background-color: #df3e46;
  padding: 5px 10px;
}

article a {
  color: #df3e46;
}

.overlay {
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.blog .overlay,
.entete-pages .overlay,
.article .overlay {
  z-index: 1;
}

.envoieForm {
  position: fixed;
  max-width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: #df3e46;
}

.envoieForm svg {
  width: 25%;
  margin: 0 auto;
  display: block;
  left: calc((100vw - 430px) / 2);
  padding-top: 150px;
}

.envoieForm p {
  position: fixed;
  text-align: center;
  width: 100%;
  color: white;
  top: 50px;
  font-size: 22px;
}

.ptsBlock {
  opacity: 1 !important;
  visibility: visible !important;
}

p#breadcrumbs {
  font-size: 14px;
}

#breadcrumbs a {
  color: #000 !important;
  font-family: 'Titillium Web';
  font-weight: 300;
}

#breadcrumbs strong.breadcrumb_last {
  color: #df3e46 !important;
}

.btn2 {
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Titillium Web';
    font-weight: 700;
    border: 2px solid #df3e46;
    font-size: 30px;
    padding: 15px 0 20px;
    cursor: pointer;
    width: 40%;
    color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-transition: 0.3s false false;
    -moz-transition: 0.3s false false false;
    -o-transition: 0.3s false false false;
    transition: 0.3s;
}