@font-face {
    font-family: 'cabinbold';
    src: url('../fonts/cabin-bold-webfont.woff2') format('woff2'),
         url('../fonts/cabin-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinbold_italic';
    src: url('../fonts/cabin-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinitalic';
    src: url('../fonts/cabin-italic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinmedium';
    src: url('../fonts/cabin-medium-webfont.woff2') format('woff2'),
         url('../fonts/cabin-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinmedium_italic';
    src: url('../fonts/cabin-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabin-regular-webfont';
    src: url('../fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinsemibold';
    src: url('../fonts/cabin-semibold-webfont.woff2') format('woff2'),
         url('../fonts/cabin-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabinsemibold_italic';
    src: url('../fonts/cabin-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cabin-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'titillium_webblack';
    src: url('../fonts/titilliumweb-black-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webbold';
    src: url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webbold_italic';
    src: url('../fonts/titilliumweb-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webextralight';
    src: url('../fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webXLtIt';
    src: url('../fonts/titilliumweb-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webitalic';
    src: url('../fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_weblight';
    src: url('../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_weblight_italic';
    src: url('../fonts/titilliumweb-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_websemibold_italic';
    src: url('../fonts/titilliumweb-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
