@import "compass";
@import "fonts";

* {
  box-sizing: border-box;
}
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$black: #000000;
$white: #ffffff;
$dark_grey: #666465;
$grey: #ebebeb;
$red: #df3e46;
$dark_red: #b8333a;
/*------------------------------------*\
    $BASE
\*------------------------------------*/
body,
html {
  font-family: 'cabin-regular-webfont'!important;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;

  p {
    font-family: 'titillium_webbold';
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'titillium_webbold'!important;
    color: $white;
  }
}

a,
span {
  text-decoration: none;
  color: inherit;
  font-family: 'titillium_webbold';
}

body {
  .btn_red {
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'titillium_webbold';
    background-color: $red;
    border: none;
    font-size: 30px;
    padding: 20px 0;
    cursor: pointer;
    width: 40%;
    color: $white;
    @include box-shadow($black 2px 2px 10px);
    @include border-radius(0);

    &:hover {
      text-decoration: none;
      background-color: $dark_red;
      color: inherit;
      @include box-shadow(none);
    }
  }

  a.btn_reservation {
    background: $red;
    padding: 10px;
    @include transition(0.5s);

    &:hover {
      text-decoration: none;
      color: inherit;
      background-color: $dark_red;
    }
  }
}

.site-container,
.site-pusher {
  height: 100%;
}

.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1;
}

.site-content {
  padding-top: 100px;
}
/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;
  line-height: 100px;
  color: #FFF;
  background-color: $black;
  z-index: 2;
}

.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;

  img {
    width: 5em;
  }
}
/*------------------------------------*\
    $MENU
\*------------------------------------*/
.menu {
  float: right;

  a {
    padding: 0 10px;
    color: $white;
    text-transform: uppercase;
    @include transition(0.3s);

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}

section {
  margin: 40px 0;
  padding: 40px;
}
/*------------------------------------*\
    $HOME SECTION 1
\*------------------------------------*/
.section1 {
  position: relative;
  margin: 0;
  background: url("../img/slide1.jpg") no-repeat center;
  background-size: cover;
  color: $white;
  padding: 80px 0;

  .s1_presentation_cyclo {
    text-align: center;
    padding: 40px 30px;
    background: rgba($black, 0.7);
  }

  .s1-info-resa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .s1_tarif {
      position: relative;
      background-color: $dark_grey;
      padding: 20px;
      margin: 0 80px;
      height: 190px;
      @include border-radius(100px);

      .tarif_unique {
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        background-color: $black;
        padding: 40px;
        width: 190px;
        height: 190px;
        line-height: 5em;
        @include border-radius(95px);

        h2 {
          font-size: 20px;
        }

        span {
          font-size: 4.5em;
        }
      }

      .nav {
        font-weight: bold;
        position: relative;
        left: 55%;
      }
    }
  }

  .btn_red {
    margin: 40px 0;
  }

  .s1_tel {
    color: $white;
    font-size: 30px;
    width: max-content;
    margin: 0 auto;
    text-align: center;
  }
}
/*------------------------------------*\
    $HOME SECTION 2
\*------------------------------------*/
.section2 {
  background-color: $grey;
  margin: 0;
  padding: 40px;

  .card {
    background-color: $red;
    position: relative;
    margin-top: 40px;
    text-align: center;

    a {
      color: $white;
      @include transition(0.3s);

      img {
        padding: 10px;
        margin: 0 auto;
        position: relative;
        top: -40px;
        background: $black;
        @include transition(0.3s);
      }

      .card-body {
        margin-bottom: 50px;
        padding: 0;
      }

      &:hover {
        background-color: $black;
        text-decoration: none;

        img {
          background: $red;
        }
      }
    }
  }
}

.section3 {
  background-color: $grey;
  margin: 0;
  padding: 0 0 40px;

  h3 {
    color: $white;
    background-color: $black;
    margin: 0;
    text-align: center;
    padding: 0 0 40px;
  }

  .vert {
    min-height: 435px;
    background-color: $black;
    color: $white;
    padding: 40px;
    margin: 40px 0;

    .block_avis {
      border-top: 1px solid $grey;
      padding-top: 20px;

      i.fas {
        color: $red;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      right: 20px;
      bottom: inherit;
      left: inherit;
      background-color: $red;
      opacity: 1;
      width: 50px;
      height: 40px;
      @include box-shadow($black 3px 2px 3px);
      @include transition(0.5s);

      span {
        display: none;
      }
    }

    .carousel-control-next {
      top: 0;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f107";
        font-size: 30px;
        font-weight: 600;
      }

      &:hover {
        background-color: $dark_red;
      }
    }

    .carousel-control-prev {
      top: -40px;

      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f106";
        font-size: 30px;
        font-weight: 600;
      }

      &:hover {
        background-color: $dark_red;
      }
    }

    .carousel-indicators {
      display: none;
    }
  }

  .vert .carousel-item-next.carousel-item-left,
  .vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .vert .active.carousel-item-right,
  .vert .carousel-item-next {
    bottom: inherit;
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
  }

  .vert .active.carousel-item-left,
  .vert .carousel-item-prev {
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
  }

  .s3-actus {
    min-height: 435px;
    height: auto;
    margin-top: 40px;
    padding: 40px 40px 20px;
    background-color: $white;
    border: 4px solid $red;

    .s3-one-actu {
      margin-bottom: 20px;

      img {
        float: left;
        @include box-shadow($red -9px 9px 0);
      }

      .s3-actu-date {
        font-family: 'titillium_webextralight';
        font-style: italic;
        font-weight: bold;
      }

      .s3-actu-flag {
        color: $red;
      }
    }

    .btn_actu {
      position: absolute;
      margin-bottom: -20px;
      right: 30px;
      width: auto;
      padding: 10px 20px;
      @include box-shadow(none);
      @include transition(0.3s);

      &:hover {
        color: $white;
      }
    }
  }
}

.footer {
  background: url("../img/bg_footer.jpg") no-repeat 100%;
  background-size: cover;

  &.container-fluid {
    padding: 0;
  }

  .f-partners {
    padding: 40px 0 0;

    .item {
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;

      img {}
    }

    .owl-carousel {
      width: 80%;
      margin: 40px auto;

      .owl-next,
      .owl-prev {
        &:after {
          font-family: "Font Awesome 5 Free";
          position: absolute;
          top: 20px;
          font-size: 50px;
          font-weight: 900;

          &:hover {
            background: transparent;
            cursor: pointer;
          }
        }

        &:hover {
          background: transparent;
        }

        span {
          display: none;
        }
      }

      .owl-next {
        background: none;

        span {
          display: none;
        }

        &:after {
          content: "\f105";
          right: -50px;
        }
      }

      .owl-prev {
        background: none;

        &:after {
          content: "\f104";
          left: -50px;
        }
      }
    }
  }

  .f-infos {
    background: $red;
    border-top: 20px solid $dark_red;
    border-bottom: 20px solid $dark_red;
    padding: 40px 0 0;
    text-align: center;
    margin: 0;

    h4 {
      font-family: 'titillium_webregular'!important;
      font-size: 30px;
    }

    .btn_reservation {
      background: $dark_red;
      color: $white;

      &:hover {
        background: $dark_grey;
      }
    }

    .f-btn_social {
      margin: 0;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &.container-fluid {
        margin: 0;
        padding: 0;
      }

      a {
        color: $white;
        font-size: 50px;

        i {
          margin-bottom: 20px;

          &.fa-instagram,
          &.fa-twitter-square {
            float: right;
            @include transition(0.3s);
          }

          &.fa-facebook-square,
          &.fa-google-plus-square {
            float: left;
            @include transition(0.3s);
          }

          &.fa-facebook-square,
          &.fa-google-plus-square,
          &.fa-instagram,
          &.fa-twitter-square {
            &:hover {
              color: $dark_red;
            }
          }
        }
      }
    }
  }

  .f-social {
    margin: 0;
    padding: 40px;
  }

  .f-mentions-menu {
    font-size: 14px;
    background-color: $black;
    color: $white;
    margin: 0;

    p {
      font-family: 'titillium_webregular';
    }

    ul {
      display: inline-block;

      a {
        color: $white;
        display: block;
        width: auto;
      }
    }

    .legal {
      font-size: 12px;

      img {
        padding-right: 10px;
      }
    }

    .payment {
      text-align: center;
    }

    .f-menu {
      font-size: 20px;
      text-transform: uppercase;

      .red {
        color: $red;
      }
    }
  }
}
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
@import "responsive";